/* Shared related styles */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.section-title {
    text-align: center;
    color: #272727;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 24px;
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    padding: 0 473px;
    margin-bottom: 48px;
}

/* header related styles */

header {
    background-color: rgba(229, 84, 115, 0.10);

}

    /* banner related styles */

.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
    padding: 30px 230px 0px 230px;
}

.banner-text {
    width: 636px;
}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    width: 681px;
    margin-bottom: 32px;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 40px;
    border: 0;
}

.banner-img {
    width: 630px;
    height: 842px;
}

/* main section related section */

main .section {
    width: 1440px;
    margin: 128px auto;
}

/* feature section related section  */

.feature-photo-container {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.features {
    margin-top: 178px;
}

.feature-img1-container {
    width: 464px;
    height: 538px;
    background-color: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
}

.feature-img2-container {
    width: 464px;
    height: 538px;
    background-color: rgba(5, 151, 160, 0.15);
    border-radius: 300px 300px 0px 0px;
}

.feature-img3-container {
    width: 464px;
    height: 538px;
    background-color: rgba(71, 125, 17, 0.15);
    border-radius: 300px 300px 0px 0px;
}

.feature-img1 {
    padding: 110px 76px 0 78px;
    width: 310px;
    height: 428px;
}

.feature-img2 {
    padding: 110px 47px 54px;
    width: 370px;
    height: 370px;
}

.feature-img3 {
    padding: 110px 67px 0 67px;
    width: 314px;
    height: 428px;
}

.flower-text {
    color: #272727;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-top: 25px;
    line-height: 35px;
    text-decoration-line: underline;
}

.services-container {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    padding: 86px 200px 87px 160px;
    display: flex;
    justify-content: space-around;
}

.services-group {
    text-align: center;
}

/* offer section related styles */

.offer {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 215px;
    padding: 100px 429px 100px 446px;
}

.offer-text {
    text-align: center;
}

.offer-title {
    color: #272727;
    font-size: 31px;
    font-weight: 800;
    margin-bottom: 24px;
}

.offer-title span {
    color: #E55473;
}

.offer-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px;
}

.social-photo-container img {
    width: 342px;
    height: 396px;
}

.social-photo-container .social-photo {
    margin-left: 20px;
}

/* email section related styles */

.email-section-container {
    background-image: url('images/Rectangle\ 9.png');
    background-repeat: no-repeat;
    padding: 122px 0;

}

.email-section {
    text-align: center;
}

.email-section input[type='email'] {
    padding: 23px 513px 22px 22px;
    border: none;
    border-radius: 8px;
    background: #FFF;
}

.email-section input[type='submit'] {
    padding: 18px 31px;
    margin-left: 16px;
}

/* footer related styles */

footer {
    background: #111010;
}

.footer-container {
    text-align: center;
    padding: 128px 704px;
}

.footer-title {
    color: #E55473;
    font-size: 38px;
    font-weight: 800;
    margin-bottom: 24px;
}

.footer-title span {
    color: #FFF;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px;
}

.copy {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
}